html {
  text-align: center;
  font-family: "Affogato", Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 700;
}

.pad {
  position: relative;
  background: #f0f0f0;
  padding: 5em 4em 4em 4em;
  margin-bottom: 2.5em;
  cursor: pointer;
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.pad:not(.active) p[role="status"] {
  opacity: 0;
}

.pad svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
}

.pad svg path {
  stroke: lightgray;
  fill: none;
}

.pad h2, .pad p {
  position: relative;
  z-index: 1;
}

p {
  transition: opacity 0.5s;
  font-weight: 400;
}

.container {
  max-width: 40em;
  margin: 0 auto;
  margin-bottom: 2.5em;
}

a {
  color: inherit;
}

#fail {
  color: red;
}

#fail:not(.active) {
  display:none;
}

.pad button {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  font-family: inherit;
  font-size: 1rem;
  padding: 8px;
  border: none;
  background: rgba(0, 0, 0, 0.85);
  color: white;
}

.pad button:focus {
  left: 8px;
  top: 8px;
  width: auto;
  max-width: 20em;
  text-align: left;
  height: auto;
}

aside {
  font-style: italic;
  font-size: smaller;
}

footer {
  border-top: 1px dotted gray;
}
